<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>util01-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{1791,99}</string>
                <key>spriteSourceSize</key>
                <string>{1791,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{1791,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>util01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,389}</string>
                <key>spriteSourceSize</key>
                <string>{52,389}</string>
                <key>textureRect</key>
                <string>{{102,1103},{52,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>util03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,353}</string>
                <key>spriteSourceSize</key>
                <string>{65,353}</string>
                <key>textureRect</key>
                <string>{{102,748},{65,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>util04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,354}</string>
                <key>spriteSourceSize</key>
                <string>{65,354}</string>
                <key>textureRect</key>
                <string>{{102,392},{65,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>util05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{48,389}</string>
                <key>spriteSourceSize</key>
                <string>{52,389}</string>
                <key>textureRect</key>
                <string>{{102,1494},{48,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>util06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,389}</string>
                <key>spriteSourceSize</key>
                <string>{85,389}</string>
                <key>textureRect</key>
                <string>{{102,1},{85,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>util.png</string>
            <key>size</key>
            <string>{188,1884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8291e8bcee4a6661463c2f0c33d7963b:f68e2520c751e5c899d40b7544a7f179:40112b0864f96427a70f5781a601c469$</string>
            <key>textureFileName</key>
            <string>util.png</string>
        </dict>
    </dict>
</plist>
