<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,262}</string>
                <key>spriteSourceSize</key>
                <string>{272,262}</string>
                <key>textureRect</key>
                <string>{{828,1},{272,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,261}</string>
                <key>spriteSourceSize</key>
                <string>{272,261}</string>
                <key>textureRect</key>
                <string>{{1102,1},{272,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{275,262}</string>
                <key>spriteSourceSize</key>
                <string>{297,262}</string>
                <key>textureRect</key>
                <string>{{551,1},{275,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,262}</string>
                <key>spriteSourceSize</key>
                <string>{548,262}</string>
                <key>textureRect</key>
                <string>{{1,1},{548,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wall.png</string>
            <key>size</key>
            <string>{1375,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a67eb3d93407be17d4bfe17ce6863657:74b25510f72680b5054c69447f9d6cfe:dfea0f207fde6691c0fa71fc2ac2b95e$</string>
            <key>textureFileName</key>
            <string>wall.png</string>
        </dict>
    </dict>
</plist>
