<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,50}</string>
                <key>spriteSourceSize</key>
                <string>{165,50}</string>
                <key>textureRect</key>
                <string>{{1,438},{165,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{332,438},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,437}</string>
                <key>spriteSourceSize</key>
                <string>{435,437}</string>
                <key>textureRect</key>
                <string>{{1,1},{435,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>retry_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,50}</string>
                <key>spriteSourceSize</key>
                <string>{162,50}</string>
                <key>textureRect</key>
                <string>{{168,438},{162,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>over.png</string>
            <key>size</key>
            <string>{453,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8944c0c8f8bd0ae7355f3880a09c7eda:85256fcedbe20d138dbdd492f8220af0:208fe3c9960fc3ccff7b5aa36f0ab984$</string>
            <key>textureFileName</key>
            <string>over.png</string>
        </dict>
    </dict>
</plist>
