<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_ground_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,165}</string>
                <key>spriteSourceSize</key>
                <string>{960,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_ground_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,163}</string>
                <key>spriteSourceSize</key>
                <string>{960,163}</string>
                <key>textureRect</key>
                <string>{{963,1},{960,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>base_ground.png</string>
            <key>size</key>
            <string>{1924,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d217aa9bd803db2b09d976f070dde66a:7baa2af5d34b32f290109f807f711758:b34037d8c32ab6ca8e3027b1e6737781$</string>
            <key>textureFileName</key>
            <string>base_ground.png</string>
        </dict>
    </dict>
</plist>
