<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{338,138}</string>
                <key>spriteSourceSize</key>
                <string>{338,140}</string>
                <key>textureRect</key>
                <string>{{529,307},{338,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{526,107}</string>
                <key>spriteSourceSize</key>
                <string>{526,115}</string>
                <key>textureRect</key>
                <string>{{1,307},{526,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,173}</string>
                <key>spriteSourceSize</key>
                <string>{448,173}</string>
                <key>textureRect</key>
                <string>{{1686,1},{448,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ground_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,173}</string>
                <key>spriteSourceSize</key>
                <string>{448,173}</string>
                <key>textureRect</key>
                <string>{{1861,1},{448,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ground_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,173}</string>
                <key>spriteSourceSize</key>
                <string>{448,173}</string>
                <key>textureRect</key>
                <string>{{869,263},{448,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{822,260}</string>
                <key>spriteSourceSize</key>
                <string>{822,260}</string>
                <key>textureRect</key>
                <string>{{862,1},{822,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{859,304}</string>
                <key>spriteSourceSize</key>
                <string>{859,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{859,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ground.png</string>
            <key>size</key>
            <string>{2035,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:511f8abbddb9a66a1f441e88fda12420:0c1818771a0257886cf59d3b093a3896:f343ad498b986939e89474df99bb314c$</string>
            <key>textureFileName</key>
            <string>ground.png</string>
        </dict>
    </dict>
</plist>
