<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1981,292}</string>
                <key>spriteSourceSize</key>
                <string>{1981,292}</string>
                <key>textureRect</key>
                <string>{{1,1},{1981,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{1969,276}</string>
                <key>spriteSourceSize</key>
                <string>{1981,292}</string>
                <key>textureRect</key>
                <string>{{1,295},{1969,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>back.png</string>
            <key>size</key>
            <string>{1983,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:993947b6e2d0104f27339cea359b3270:9bc132eebaaa9021ef36ca703784fb08:cc3488fc0369788fd067945c431a6b03$</string>
            <key>textureFileName</key>
            <string>back.png</string>
        </dict>
    </dict>
</plist>
