<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgm_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,151}</string>
                <key>spriteSourceSize</key>
                <string>{213,151}</string>
                <key>textureRect</key>
                <string>{{428,89},{213,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,174}</string>
                <key>spriteSourceSize</key>
                <string>{425,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{425,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,86}</string>
                <key>spriteSourceSize</key>
                <string>{275,86}</string>
                <key>textureRect</key>
                <string>{{428,1},{275,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sfx_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,146}</string>
                <key>spriteSourceSize</key>
                <string>{210,146}</string>
                <key>textureRect</key>
                <string>{{705,1},{210,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sound_box_switch_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,49}</string>
                <key>spriteSourceSize</key>
                <string>{116,49}</string>
                <key>textureRect</key>
                <string>{{643,89},{116,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sound_box_switch_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,49}</string>
                <key>spriteSourceSize</key>
                <string>{116,49}</string>
                <key>textureRect</key>
                <string>{{1,177},{116,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{852,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43ba16548c68e0b751d9b98a7f1d7613:1d0529daf3ed41ee674cfa8776484f04:89cb0d016fda0fa1ac0213030b3f9e02$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
