<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{391,1},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,99}</string>
                <key>spriteSourceSize</key>
                <string>{89,99}</string>
                <key>textureRect</key>
                <string>{{211,1},{89,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{113,1},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,96}</string>
                <key>spriteSourceSize</key>
                <string>{87,96}</string>
                <key>textureRect</key>
                <string>{{302,1},{87,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>select_weapon.png</string>
            <key>size</key>
            <string>{478,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f83b7278ce5d27d77ba86dc9a47e4473:13f4138fb1d0e7f40d41f9caf95fa53f:9751b9e08149889c93f7d226bc01a0cc$</string>
            <key>textureFileName</key>
            <string>select_weapon.png</string>
        </dict>
    </dict>
</plist>
