<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>check_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{465,1369},{40,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{383,1170},{120,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,38}</string>
                <key>spriteSourceSize</key>
                <string>{116,38}</string>
                <key>textureRect</key>
                <string>{{259,1420},{116,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_popup_box00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,196}</string>
                <key>spriteSourceSize</key>
                <string>{380,196}</string>
                <key>textureRect</key>
                <string>{{1,1170},{380,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_popup_box01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,165}</string>
                <key>spriteSourceSize</key>
                <string>{487,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{487,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_popup_box02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,165}</string>
                <key>spriteSourceSize</key>
                <string>{487,165}</string>
                <key>textureRect</key>
                <string>{{1,168},{487,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_popup_box03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,165}</string>
                <key>spriteSourceSize</key>
                <string>{487,165}</string>
                <key>textureRect</key>
                <string>{{1,335},{487,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_popup_box04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,165}</string>
                <key>spriteSourceSize</key>
                <string>{487,165}</string>
                <key>textureRect</key>
                <string>{{1,502},{487,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_popup_box05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,165}</string>
                <key>spriteSourceSize</key>
                <string>{487,165}</string>
                <key>textureRect</key>
                <string>{{1,669},{487,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_popup_box06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,165}</string>
                <key>spriteSourceSize</key>
                <string>{487,165}</string>
                <key>textureRect</key>
                <string>{{1,836},{487,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_popup_box07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,165}</string>
                <key>spriteSourceSize</key>
                <string>{487,165}</string>
                <key>textureRect</key>
                <string>{{1,1003},{487,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,38}</string>
                <key>spriteSourceSize</key>
                <string>{118,38}</string>
                <key>textureRect</key>
                <string>{{209,1479},{118,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_watchbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,38}</string>
                <key>spriteSourceSize</key>
                <string>{206,38}</string>
                <key>textureRect</key>
                <string>{{1,1479},{206,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>no_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{258,1368},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nontutorial_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,57}</string>
                <key>spriteSourceSize</key>
                <string>{255,57}</string>
                <key>textureRect</key>
                <string>{{1,1368},{255,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>remove_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{383,1292},{75,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>touch_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,83}</string>
                <key>spriteSourceSize</key>
                <string>{73,83}</string>
                <key>textureRect</key>
                <string>{{380,1369},{73,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tutorial_end_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,50}</string>
                <key>spriteSourceSize</key>
                <string>{256,50}</string>
                <key>textureRect</key>
                <string>{{1,1427},{256,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,83}</string>
                <key>spriteSourceSize</key>
                <string>{73,83}</string>
                <key>textureRect</key>
                <string>{{377,1444},{73,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yes_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{435,1170},{120,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tutorial.png</string>
            <key>size</key>
            <string>{505,1518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c8ad13ccd59d44f7d51d6e789c3d0a7:ad46bbff431512f30de7db22b320cbb6:abe0699126dfb7355279be187c2efd51$</string>
            <key>textureFileName</key>
            <string>tutorial.png</string>
        </dict>
    </dict>
</plist>
