<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{863,284}</string>
                <key>spriteSourceSize</key>
                <string>{863,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{863,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{816,277}</string>
                <key>spriteSourceSize</key>
                <string>{816,277}</string>
                <key>textureRect</key>
                <string>{{866,1},{816,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>back.png</string>
            <key>size</key>
            <string>{1683,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53f64214b556daab04d437a26e7b9dc0:5e0d1249f94ea1e7b73af2c4ee7f0b73:cc3488fc0369788fd067945c431a6b03$</string>
            <key>textureFileName</key>
            <string>back.png</string>
        </dict>
    </dict>
</plist>
