<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bush01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,64}</string>
                <key>spriteSourceSize</key>
                <string>{131,64}</string>
                <key>textureRect</key>
                <string>{{553,1},{131,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bush02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,83}</string>
                <key>spriteSourceSize</key>
                <string>{230,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bush03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,76}</string>
                <key>spriteSourceSize</key>
                <string>{318,76}</string>
                <key>textureRect</key>
                <string>{{233,1},{318,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bush.png</string>
            <key>size</key>
            <string>{685,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddbb80f663c49c6747729727153fcbee:67642576ec3f2583ac48e136412cb768:62e4e13903be9ae4c47be6e36255dfa1$</string>
            <key>textureFileName</key>
            <string>bush.png</string>
        </dict>
    </dict>
</plist>
