<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,244}</string>
                <key>spriteSourceSize</key>
                <string>{371,244}</string>
                <key>textureRect</key>
                <string>{{1,503},{371,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{500,188}</string>
                <key>spriteSourceSize</key>
                <string>{504,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,293}</string>
                <key>spriteSourceSize</key>
                <string>{185,293}</string>
                <key>textureRect</key>
                <string>{{1,876},{185,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{207,105}</string>
                <key>spriteSourceSize</key>
                <string>{207,107}</string>
                <key>textureRect</key>
                <string>{{127,1171},{207,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,124}</string>
                <key>spriteSourceSize</key>
                <string>{219,124}</string>
                <key>textureRect</key>
                <string>{{1,1171},{219,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>back.png</string>
            <key>size</key>
            <string>{246,1391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce5514ab015defbdbbf4d644f270decf:bcca29fa5778cc28167ab4158589bd57:cc3488fc0369788fd067945c431a6b03$</string>
            <key>textureFileName</key>
            <string>back.png</string>
        </dict>
    </dict>
</plist>
